.menu-text {
    font-size: 65px;
}

.top-bar {
    padding: 2rem;
}

#footer{
    height: 50px;
    position: fixed;
    bottom: 0px;
    left: 0px;
    line-height: 50px;
    color: #aaa;
    text-align: center;
    width: 100%;
}

.search-error-box {
    display: flex;
    justify-content: center;
}

.search-error {
    width: 35%;
    background-color: red;
    box-sizing: border-box;
}
